<article id="Busca" *ngIf="Home == true">
	<img id="TopBall" src="../assets/giphy.gif">
  <form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)">
			<div>
				<input type="text" name="palavras_chave" required ngModel placeholder="O que você está procurando?"> 
			</div>
			<button type="submit">BUSCAR</button>
  </form>
  <img id="BottomBall" src="../assets/giphy.gif">
  <h2>Powered by DiegoCelisT</h2>
  <img id="DCTLogo" src="../assets/Logo DCT Portfolio.png" width="150px">
</article>

<article id = "Resultados" *ngIf="Home == false">
  
  <button id="buttonHome"  type="button" (click)="limpar ()">
  Voltar por mais!
  </button>
  <h1>Resultados</h1>    
  <div>
    <img *ngFor="let i of resultados.data" [src]="i.images.fixed_width.url">
  </div>    
</article>
