<article>
  <h1>Busca de GIFs</h1>
	<form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)">
			<div>
				<input type="text" name="palavras_chave" required ngModel> 
				<label>Inserir o que vc procura!</label>
			</div>
			<button type="submit">BUSCAR</button>
  </form>
</article>

<article>
  <h1>Resultados</h1>    
  <img *ngFor="let i of resultados.data" [src]="i.images.fixed_width.url" height="200">
    <!--fixed_width para ter o mesmo tamanho (200) e ter uma melhor apresentação dos resultados-->
</article>